---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgB6VuNU2GB3WtsZXJc/5ua40ZGsShY4dQUBv6kUuxfLVnAxdGbQ3d4yWmzxlF0GiU55FRxZOaW0nYMx/MENvQ9rzMfkOcESAgHf+eNmc6xRKBgARHK4aetQQKfaFugY//uVzhMSlkFUUMkh3f6gSHQpZWGn2CJGzcVnjGgQ2hdqRW2fFeJ5zF7dzSx+Ynf5X9OHTr3QNArkUDkh1LKqJapSBE1+Uox294MR4VKFIhvP0DaN6lhkUswEUOuuBjS6UDB3aZjOuqQXjUEPnShSdtGEGjF1+wcWXnGy0ovoR8nT9OzvZllYno1cOS8E3+ZCh+WK0O7FaKK8EMlrMkEmhs6JTySqBcHICtXeh/xdPBwo0/oPFR9k0C2f8xs8MpQlZdmbvPg4g7ti3nK31sNQgpnlTRaEXP/DULwbo5NG/pmytkpaWAg9jYrT+cniNN3MKBzFwK1eVCJO3q6y5yd/vPtGDIqeG5GvWvSRZp3vgmNtmW3OtSzyqB2IMhdNq8RJRtMfBwkW/GDptEhnw/sXJfZmqAe7JuvZtxybhn0q2eNEwwc0yVoA04DMwgrCXT1klp8vepY+JHwn3u4s8hGdv1agBSYW/ppzDXhpy2XGi8Ofsun9Cuv4p5EsFF/K1+VbBSi4D51mnwNr+JQeA1DeIBCglV/v6sKGPI8IsCkmUQHw+03HgqkmwGLxXDvnGkY3/qvtdcBCdXo7H7vVO06xqcTK8qzl7XEhtbaUKWuGEmDR142h1GqokO0j
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
