---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-iscsi-transmission-config
  labels:
    app: transmission
spec:
  storageClassName: "freenas-iscsi-manual-csi"
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: xfs
    volumeHandle: pv-iscsi-transmission-config
    volumeAttributes:
      portal: 10.10.30.43:3260
      iqn: iqn.2005-10.org.freenas.ctl:transmission-config
      lun: "0"
      node_attach_driver: iscsi
      provisioner_driver: node-manual

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-nfs-downloads
  labels:
    app: transmission
spec:
  storageClassName: "freenas-nfs-manual-csi"
  capacity:
    storage: 200Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - nolock
    - noatime
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: nfs
    volumeHandle: pv-nfs-downloads
    volumeAttributes:
      server: 10.10.30.43
      share: /mnt/home-lab/containers/transmission
      node_attach_driver: nfs
      provisioner_driver: node-manual

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nfs-downloads
  labels:
    app: transmission
spec:
  storageClassName: freenas-nfs-manual-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Gi
  volumeName: pv-nfs-downloads

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-iscsi-transmission-config
  labels:
    app: transmission
spec:
  storageClassName: freenas-iscsi-manual-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeName: pv-iscsi-transmission-config

---
kind: SealedSecret
apiVersion: bitnami.com/v1alpha1
metadata:
  name: transmission-vpn-cred
  labels:
    app: transmission
spec:
  encryptedData:
    OPENVPN_PASSWORD: AgBsskfwq6nzqUCCYmo0a7Or8XAsb8VMPEM1kP9tAZ0zgVdnBnlRlAF1ImX16y5nnhW4FoeL1cxYOuj47LpRrem1Rk9kz3OSE35mqe5wjCPtNZRfQK6KRoKCQ+/bGoWwVeaP9ENuNckgaopoztW5xKr6LRQgkXDcJZPtupAbCz1GEVmnCd89IwDvqRypBy6PU1QFW1nvKERfTDUd41SyY2hdiE+YxIK3lE+ShW9OpImoT4cKyjNUskdHb+5ImS6u8HYMb3D+eOPHLgva2Idvzsb+2VR/Gs9iyZyOMOCAJtoTJwOGe5nsgdeWuYJZFQKHa2F/o4Gwvft0oxzzlLxk+Li7uaqDqKILLiX9ehwDAl2XkC5mtkgvzt/WtRXFS3Iqlv+/uKUAm4SXAkXT66zj4ZWP/9vRbovTdwXmNP9ElcFDPzgR6B0RFls9SdbIwlISkG03Ijgbx04ZF6V29/jPNepKuUqGpEQKREchKjKzlXOsIobsU4kCBT6b86DIcpy00rwmTUTrD3+M6c+CAf4Z1M4wUVgsVHXnp9TpTp/1elQibfTgBC4ausxFSsKrXAmhIbgkUx6mqm09KkbsUnyN/zpmHunkJz4e7t+TPylyXR6EK0ZeO0iqsfr5AIYZ7zynolMuiMPFES5PZvekYduU/a2G1p1TLQDA/CeSF1KxHzQWUFBhbV+GrEpUjDTiJhJpE+EqQatPkZhQpeCc3N75FxB5rIZIMX/wPZA=
    OPENVPN_USERNAME: AgCP1hAL6Zgz8bHiROrI9QidRTYce2umZoxO0eeyI1TFElFDv0otMU4/EIE+DxsSI6pd2vxipwe61iiaJma5esSl6cKK64vKns0Ix23iO4uYvoq5N/N7449DELaS+EkqOseY1r567NrtNzx6TN78L+pT6+di+luWZrwj3mOfAFfvPSkZmCBwwY7yKekl16y68xfSwT74+c8RG0M4tZKntlfLdkiKVXol0OSt32TVS6tCVzddaAGhV5kRCfE7hHXSE6NgXrNwoTdlgiA+3baCAZw4Mqc9IR6t6OGQ0r0pdZA/qPsnp2HQaXCTUjDcNxGVMDpflhWtdzagOcyQNE2O1aBVc8OXOXJoNkN+hhJn1QnTw1hxsV1VOJKW/EVtYQ5FBl4mLUFaYkb/svmx8c2sJyeUKDz6bdkucVpkzFvD4e5lKhmAy1zUmlfhLz4LJW9vmsmLZxAbrzTYOv08uNaE4PW8aJTggU1y4DDyLOLPZ3vl5KUzTUm9Ogk8Bimn6qfiFeYCqRVNPeg4qnTzCFsg5ao4JgmFF1+ICHHsNs4CWGc1cCvm6oDukWZPadKa+FIFtuwZ3OOLwOV8sjwQWCxqO8835fcSwAd9VQDiI/GhMO4CKVzDobqIkvC9eipFGiTPN0oyowN0Qi9R8hOIjBGRE78rCb5eDvEn0NtfSHllEsDTQC3gEL2IQlLt0MvpRF1ZGwMjtuwTIcfW+7l9EZ3ETpQxVfSNVz3YbTI=
  template:
    metadata:
      name: transmission-vpn-cred
      labels:
        app: transmission
    type: Opaque

---
kind: SealedSecret
apiVersion: bitnami.com/v1alpha1
metadata:
  name: protonvpn-config
  labels:
    app: transmission
spec:
  encryptedData:
    sg-19.protonvpn.udp.ovpn: AgCayUsM3EZSL9RRZE/69FbcALg3cgh9+iXy7pgbsYXIFxxK+WiUM2iLunbLGzE1Mx2Q/BTAQILqIPzw2zm45TaUJr/vEPRu9mQ1wqw2L/d1wFLs3PV9eiEZ4yhcFXpRPdleZ+3f9Gc3NfcNBn0R+N9ZxslUNKP4uy01rL0JoqmFMjdmAITISiv93bi1WqaGRTW+7D4C950ZuCENmhXanpbpZ6JOvGTg6AiVXZ/d9PdWYaOvbqpTalcXKDQ0mTdmX4UgicVAR9Junx7KvEIt4UiKTV84jDTq177+/V75sVWlv2iNZajSUcDsP7DP7/Wd4H0uE/UgZ/Zbp972Q5XIpO9s4KnHr/uP+LWcsyuaQAyj0XSq62nOVsUiM1CwRto2dKCc+dr1pJP2oWfY7QxeLy+/eH8hp/QhF+Jc9D+7cne30vHTPfM4mms/oO7tdwbUlr/HWjdDS4Obp6IMjXEKoSFXVMeBYnp7mFZykAgeC+FeoipZKlF7dHvdj6JQ+H69cL6skgHk4ioiYaBSxGy1dgK9pD+5oeE7Hcb4eqbodr6Y4ycF7ZEtZ6Q9bO9eUEhhuFYBz4aD/jC347aoCpx/E8lSjvmNEV5KtVGSfPGVPn+uQuio995HfeRI6dy4zbuV2bE46buUD4++AZM27WJ/0O2t1MRfQjnRsj9b+la+GfS32qqzWl6GMDhLu3Ai8Yhty989bx9d8I0juAaXg2/z1RsJdJ24LNRrKJVESLoIBLaT6jcBuAbo5aAUL8X/8zQ6xnLNsGJm4yN0oT5peKfzIchKq1KdsB7QnFR0V7Nrhy0gTFkb9VOeRvyzodRI+y8JD8eyr3PXqG5OGOW/CZacLyv9RwrAe2Vw0QRSVaIU/Kbpf5o61JVTZnNO4aPUwqbtHUWMhbjwYTa8TSdTYj8UFBsnA3c781MCpY3FDZowT+fpdb42T7KwCQoKCDpgBXJ/XltBX1n2jWUWTsRfCVDn5sZAWhp+OtbFPGUo0zn3nRaq8BiWletJVdpWowd/P7tLEsEdrckKZJf336KD0tG8+pLhDtEjyyrjFk8t1Wz9orPssJ3YEAjd13wZ6LURqgxP95YWzOfKe4RXjEDap9SncieJSZoFo61+ZdaotUv6BYHdZuGHCzkWbLmoHXUoIM8Loj70rhaEXmk1Jn0AaU54nRd2WHgZ5JuU/3vHVp7rK7/CAi8WNho0yj+JcIjH/0UV+5FVrtQNzqk4YqXqWTo4w3ajNuT/GNWQxXfS+dQelaAQS2CqC9lnpFX4NUB9CFZd/3yGYM2rE5tBFgkMMQ+DL1H14FgQiOcZWaiyiZvL2Fljqetue4AZskUdhR6K6VW0N7oWSjFQrut8kqzr9O8EGnYkDxK5aKBLyR5QMFz7BU7L1FN4Ux1ZD0eU5Sa9BhAdoumxzx1pypYYUqs4Educm+nXSEkcNm+GtyhIcO/Htoigua7GT+sOkLuByiL8Lnux6BW/cm3A/1dwUoX7eHPSuxDzIsHoRVJeS6xLXbcQNI5McRC/tjsvZrTcFMPwa+lTkXYPpFhJs039jRw8IrDGGDC8E503jwu63ND+lUmMTMubbuWYpezQZxvFAtGhyCbpNsDkaCD1AIzL0z9VBpEH2UaAtrBagtRKKixa3CytHsJag/odtgX54SH2AZoZZaiSwpKHfRLWbT5vl3QQU7XgrArnogSfWK2gZprrVXZiXY8Rt3ksi3rophV23D2lI/DoCO+0T23A2zHb+gyGzrx44Gb7ZUyc6DUq9/s8v0oXtZfxAH6f73TGiPGTb+5xUE7ZnT6sh14h1/JjVFQEAuRt7JBmjXawROEaRfIjgFOiUl+udI8DRj/1c2Yu7Lg3pKGKWnT/+GCe0RcvCleD9+sUNLaErnKHDfJW0ENR7mB9DIOHXFhNZbZSgYGegoq1AXDQFUAtlYlifxSXtV8i5lkdv+MrayutPrwUd7bfZk7+/BWwl20y2tSwcUZUmVdrvKRA1E8+zhVZNwXkNofp1F6Bn0ag8GfKOS3DNMOAXE3AmKmVrOojFlZhYUx/BfMh73DSzi9vgUEmjqmBxPYbfrAt98odPIo9OjK9tOPjhXSgKLjJ/y69Alpc9vQzdweNi7qNx6+B6lJk8m+ieP+TiPM+jjSeob7Q2bZxD9d69+/o8+TY8J2U6SmsROOCOAYivSQaG9jYxToSMI5/52+KcE0pfJdvUJPMZIkopYhCczj2RoDc7fHlZgcQEu96r7k2pB3A6VxfUMY/z0YJBzfRBSjmnZ7P+H/4jGtjwc+Ql0t/NlA3R0SCyFWBvN/UV60P2NyL3Yx2DnPY3aoFvSx9pQYXcF2eJec5FbRy2V0hwYs47pYhv9UEGWdF5cJmKtv4TvYI7NQNEzlQ4a339BjDNfXQIIvxu6pgw2ZQo9Ts32Ig5aYszwfrNg9MUSIYHYtQ84KAy31PHP5Tb8CggN05HTvMWrfmax+O7bipBIuegAeBQkqnvMKyoXFZ/VZR1A3ICU/rMSEUS1eOjK57oYw44Q2JgxkOhviGniIlfpev5S1uG5/7Gviu/mlmKJxOI0gJQBL2/kHjbxGkqZuGDFL46gh8G8kG25FYZzR2/jVWj0q89rrQRKEOhbFBoZVWE/hmxaGpA9s5y2jIrq5+06doxxvUNVr1090B6RbyPpu+snA5dt4WdtGjluNuuq+KQIW3pM0GXIqara0Uum24ST0jn5HGFJ7IKqjVjcZ5y/XKnkSMwSGDwbYic+w8rcPYcDFFcQ8HQw9q+3AsNCq34CiYiObu7VokJu5K+PBAoRAUyLK+LOoLkAFU1A0zuoThwGP5AmfMLxVohLsbdJwm2aIw6t6gJ4jSr0Q74TBS/f2QDcy2NKRIq/3LG552rNoS3SPuz0b2SayS4ErVcroLXJrZgY4Kunkf/i/zgi1vk1iVPGPKu+NpDFYSTS5PZPF97wVH5GcItDQmEcNE/cKHksIiWSsPkdeNbmkv5WZNgPrsLQ/HiWPVhLJZQCKpuz505vwagFKi/wQ2BMbdUvzMQMaz5ENx9gy8O9pVoRHR3WOwUmzHkDj2Fm7ReZo7V8+L5EfemNpESsb4sCyFMUBZcq3G3zB5mw9oAUOefk0eT7gwPupxrIShaDs3xxfgfltoeJMOZyclCq+UPdJfo6EfttkWmbn0ju2t7+h9rVhsSN87g0IXzHd9uBIr3b2ILYBAuLZLmapwvhO4bOv9obdaCDZfg2Y4ZqqvMILQB/bA8r2AYa9OkQ7e5DQZYz46nM6V0qZuuRd1rYHoIchPBi8uhC0O4fLcGvb2HYu3756mHQcg0Xj1ZsiLzfRloAO+enA+adDxqDJZI3RWkqubJ9hmkKJwpBemWWpqnMXwoT4DTgiKxrbKohhq61y+3J02brZvaaeniB55L20PtXEi9wEORfxQYwIAETS+6GGZg4cwHC5P90Q+Nf7dFT3YRjHA8lelM7ICW9qilYl9DbmSxWo0AXu8n+d6ZgdvRxExe+AxZjXIsMzA+oID6Sr8liVVTDgUz6n3ibDjj/PKWjQBJhU1J/kOO7YJVMeTpDxVCHUnziKnNyq+ySnblCrOFakMhHuqMvVMOp2ATrHQjEqGZLvwe1DojlnTFx/RwvJfBWEV12sZFpYS3rQd7hac4j91r4kZb9sRpC37Lvh0ofOrMfOd3D03g4ZDU5+Dk4v1G4zczYyr0aXLQQs/aQp6g+yXnfYQTPmw2rEEHrS8lh/QBBViVvg8cYMFnRdXfvgDRF0JR6te+6yNCJbm+SyfQhnzdmkGhIjRmngQ/Xm5bnM05wP/dJWjpvi/Rraigg9RhEzKPHbcFoMjpAPcVScG+flS1eEuxI8vIa88qUFXwhUD6COp4b+S3rWSs+NVMF74EP1fTs+9eGJGT5Np44PsKxB2gJI1gXCrIcw5nDUiguVZ9rlPqNtAqnjKfly9j+9DJVeqHQdSNwGSZOfuV/zYsV7WpJ5UeoJsVnn8L7MDANE9TCQ9CKODn/hQMrZGtHi7fZ9pSr1cnDlo9vUKxPB32WjXknXCiwipgzay1J33SOVm6/G44S4iAJoWdFBi1sUBAOXdNFHNXZIIf3ITNPTNiqzztIuY19q42uKOUlRNiHQHbXuthyLPKfChte8REEQo3tUunwFYGf5amym4EzSWwPdM4A3nM+mheM4gbsSWykK54xhlkY3QxYHTmq8SMnze37gg/9f/9QNTeu4rqnsxdv3gtN4q9/L7G5N8jwTwMah366nqT3AhwmAOETflgOn4S4jxDGm86gC9nLEOcC6f0LoWnDV/4ZhXTg3O6JDhcCGin0B91iQr2xLV7JZIz4k+ZnLJYLhp22YztbLNh1n0H6+lXQdc6y6Cf8GXiK9j657ckDZhZkkjtm0RL5MoFSD5+RS6Ryu0QiG2UpxGFuCsSGxmspsuDLPsuMvcYxw12Tydjjd04UJ5BuQHs0Kzq4Mfk/GSps8CYWlh1tl+UQdpWEdBnuQcNKjp0mHOA6uaBIz/Yn99tB+LKCWTGndubQmQWRhFGGZrQkQ1DnEz9FkRl8O/w/67PSZS3vt689KFFXJTyiEX52yISxCNCNofe1CT9rUIWCa69U80hFURECtwvlpDsdS/oJkSPII3jLsDXypgSG7MC/zzr2CRw4Hx+bQ6zJPOW1dlI1ssQ2eWAJjt0euF+5NQY0IAEGgf4/6lvfYInxw8wI279RxWjZdS5TjeXgSkHW/WfgxsEv2iuIlGI0PTdTHyOyhU5R+4WwkBTKVD4foaIE8rU5vLNjm8yKt2KLCYMD3ShiY5eJDn0bxH6Oux70SVDDC78i7WlPO0RK2R9Vs+f03cubT4sHfi45/4ccZY1Xa3dfy2ncoUqNMzGAQdG4Rrsmfg83ng2pOjCskFgm7hx0UDrhTmprscYxGLf3DC4J9pMh07xXAbinIPcNoQjIME+fI6CWSgj/Jon0RV4RFRNLdBiOPkhVKP+XAwYc4sT/0ShmC2jISYOnM87/B7HX9r5vEX7QljuuyFWPBc26W3AVxXCtrJg9d1AaV8LRBmCMC4MwkYsTjBsOFBDTFCs2vqY/v8fz7mOMxRR404MzBiKIvBLnZsm36iJQeAbPvLbsVv09NY1hL6/zm/naMKutT7IWCtRetb+InNBX5MelVD/a6VE7DhtgS5fm6uQm0J4KRW4LqEL32l8axNxQDG/92+s4r0+iQd25C7DdaOj9vBDjHF5kGGm+nocUqaCOIR0yag+8OccwwwuZhgQiy/Mmd8S7Zlh6Z+rut6h2Xb8Ov0xzZa7LeDHQz0PHgVoPDJP/NqP2OuiIdhXNMRIs/O7Qd6nK8ugQq3XbRzbH9aq2FGlKMmCCxuHrnmzb5hQyb7HIIMfZKlu2Xugg2FOSaftFm4QpW0OPYC/KuOKRuGfCKi5+FhxeKsu8CXlU8wHTN4eDSPeSOwkiWwjbtceiXBZTBpNHlWAyzdZFm78byXRZMJhAWSNnmUnP03qPFUk9OSHOJIDLv5+5cySOjc6crS06Mn/0uR61DXJ++LwUOjDrL4B+NEejeIRMAZcVsRBFLXwv3x4sWb2EWgxBEY9Axh7v8M2v/vKC9yOQwntWBQ9FH2oSVTKv77BqiHCDUMaIT54cMfc73W6LdhhfTVwxZBomnjjGS375JCogzKkI8PZ6OijxIltGiH8I8Jc5PsvKxnoQutdFbZvMjTX6GemHP7MHz8b84ayahWFuklv0sv0pLaBlZBZ85nC2I60OsCKzGw+7CpV9WXWjpw2qrKWJPk1hT7ZAb0H54lxHo44iDqUrTD3GO1nXVQwC236qDDCSWUwe26sdMCUp0REKiMaHT+FuQwA9w4cSBoyLJkYXnCotp25rIAqJNQciyx3NB1CV0ldVFH0vckmZiNKHYdzAL0Fl7NNm6Fts1323AqBiv0XkYTjvrvDvf6MpmLEeWidwKfTpaS/A89uBPOmQ0T3CE6AuECliFyG732ngSF6/zd/xO/fKiIgqqExAzlnyNp/MNcaEeywrkOyVQ9RTOEvdwC+6UCHABhYpq/YPC5FBYYaRrHaWgrlupMyJNWhMpFchrA+DWyWk1js0UiRagjcOJLlopfP0a0sWaUVFs2eTM+28eXHtAQZt2M/6w27GLpa7evW5jY5Zkf97bC3+dpFdwL/gJNO5MLtyLMk5c3weGuuqPoWoe+X1ZoW2eiKj3HTG3lygdOc9YSpNjUTKdXLoEXbulMnwe2pqkZh+CCJOlswPSnykV+/wreFS2K7tMlWwQF6h01aKT4crLRXC7Bw8A9xFECJzn+VSTNp8C4mUW/3MwIDtcyJklva1SX7dIwh3zZrze1vZY4sfigBJMSSn9XWKG1Y8JA4+hhrCpWZKMX5mh+Ven38RUv1M3fDZj8efupfRPPDR0FZv/MhePZeNVJ6TDAY620cZt7yF7Ks4v8UaBW6kTiKvsKJkGNJj0vSx37t1Z1DzCrAkLLDXXb82t0QeUALfOiU5Ryb2bq+/XsrZr5/f3l7b/N+QujWzbz/Wqga6BlkAOdCX3fVFNwNRmOV6r+KXnrIMpmkpzC7m3oPEDSUfvULOrlL0zwT2zq+d02RwX3u5H27CbNG2pBRB1LpkGiMTG6jGi7z3131vAlS3H6PzKuXAK2QvR7KtezN3h2z9ohoE3S2zkmEE51BM3/ORzxoW4HpkuDOxWV24iz5pI4Mht5pWO+01IeiEPBj+syp4eerOpJVPH8hqO3fKktP9hm8bHHwFQE+gXdappxOI3dNF9m2uGUUZo4/8+TScoFiu4bfv2ylCk6ZUFdU0M41CLx6zT2yuOOU9jmeSi2axEoqJKJvrQi0ahJaZoXsbJN8vdu+SgCsspvfrEdonxL1m8Ht9Dq35sblejQw1jiHK1dqweGJjNRdkhLS997WgcmVtcYBiO9bxowUf98iGP6anTOynE8CrBn2dFNKw1GG1SJVIoOASRr43msKS/WbLqEXLRRBiBFCLHR9MVeC866PdjtUXbWZ0whBWBmt92VIvvdtJl7iigJa4XiJlPvaU6W//vlJIRluMXgxyiivOu6WTc/Fm02UhykTs6rIu3jED0jD0JmQ6Bia1Cf100up8hfir96/el1bPgx3vHRbYvEqcRBCqViJLNx7rcaJfGFkI1FtVgH6wuDQkY8HLsd1Ody6ZOU0N7/MZyR8onTDm2UIksle+Rtt0myrthmoEdorNJe2AwSg3p2VL+JrM56XKd9Q/MLht6FcBr0Ex458AMDzqAgmQOEX7xlP+gXQOvd9/B9W/WSuTc1PpCWV+6+LokVDLhevt54x3GJrnyKFH8cFvMV/MBIVkGUYWbG5HiXvyhyZuexuKiC2ZZZe0gjQaVGMO++2YptodKUxyjiSgyWOAl1HuSRghyu8sfpVTj4D30L1wyoYjWsBoCwG9W7cmF/dHfPwGIXXp6lnsh8r4nBgcTp/GgErttHxvdC2YfXDRr0sAUk3ml+U4YSs9FOFAmMTJ8LUJeEg9HGmQgX0rKQf9hphaE5b/EIu34xlN6ygEYaV2FzgAtLQZs2fim0vVaNe3zslPZJvOtTjsjWYwVZDPSNtZWOKaLBElUiHcIvijkV/2IldGXcwbQS2rsKRxWhYxuTU9PPJGqpqOmE5cyu+350aqEZJteLNtUak49V0cPRcP6CkWc76e5oS8ZBs6moK8wZFqU=
  template:
    metadata:
      name: protonvpn-config
      labels:
        app: transmission
    type: Opaque

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: transmission-config
  labels:
    app: transmission
data:
  LOCAL_NETWORK: 10.10.30.0/24
  OPENVPN_OPTS: --inactive 3600 --ping 10 --ping-exit 60
  OPENVPN_PROVIDER: CUSTOM
  # OPENVPN_CONFIG: sg-19.protonvpn.udp
  # VPN_CONFIG_SOURCE: external
  # VPN_PROVIDER_HOME: /config/openvpn/custom
  TRANSMISSION_DOWNLOAD_DIR: /data/completed
  TRANSMISSION_INCOMPLETE_DIR: /data/incomplete
  TRANSMISSION_WATCH_DIR: /data/watch
  TRANSMISSION_DOWNLOAD_QUEUE_SIZE: "4"
  TZ: Asia/Singapore
  WEBPROXY_ENABLED: "false"
  CREATE_TUN_DEVICE: "true"
  HEALTH_CHECK_HOST: "google.com"
  PUID: "1000"
  PGID: "2000"

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: transmission
  labels:
    app: transmission
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: transmission
    spec:
      initContainers:
        - name: copy-vpn-config
          image: busybox:latest
          command:
            - sh
            - -c
            - |
              # Create directory structure
              mkdir -p /config/openvpn/custom/
              
              # Copy the config files to the writable location
              cp /etc/openvpn/secret/* /config/openvpn/custom/
              
              # Set permissions
              chmod 644 /config/openvpn/custom/*
              
              # Debug output
              echo "Files in /config/openvpn/custom/:"
              ls -la /config/openvpn/custom/
          volumeMounts:
            - mountPath: /etc/openvpn/secret/
              name: protonvpn-config
              readOnly: true
            - mountPath: /config
              name: transmission-config
            - mountPath: /etc/openvpn/custom
              name: custom-config-dir
        - name: prepare-custom-dir
          image: busybox:latest
          command:
            - sh
            - -c
            - |
              # Copy from the writable config location to the custom dir
              cp /config/openvpn/custom/* /etc/openvpn/custom/
              chmod 644 /etc/openvpn/custom/*
              echo "Files in /etc/openvpn/custom/:"
              ls -la /etc/openvpn/custom/
          volumeMounts:
            - mountPath: /config
              name: transmission-config
            - mountPath: /etc/openvpn/custom
              name: custom-config-dir
      containers:
        - name: transmission
          image: "docker.io/haugene/transmission-openvpn:latest"
          imagePullPolicy: Always
          env:
            - name: OPENVPN_PROVIDER
              value: "CUSTOM"
            - name: OPENVPN_CONFIG
              value: "sg-19.protonvpn.udp"
            - name: VPN_CONFIG_SOURCE
              value: "/config/openvpn/custom"
          envFrom:
            - configMapRef:
                name: transmission-config
                optional: false
            - secretRef:
                name: transmission-vpn-cred
                optional: false
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 2
            successThreshold: 1
            tcpSocket:
              port: 9091
            timeoutSeconds: 2
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 2
            successThreshold: 2
            tcpSocket:
              port: 9091
            timeoutSeconds: 2
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - NET_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /data
              name: transmission-data
            - mountPath: /config
              name: transmission-config
            # Remove this line that mounts the empty directory to /etc/openvpn
            # - mountPath: /etc/openvpn
            #   name: openvpn-etc
            # Instead, mount just the custom directory
            - mountPath: /etc/openvpn/custom
              name: custom-config-dir
          resources:
            limits:
              cpu: "1"
              memory: "1Gi"
            requests:
              cpu: "200m"
              memory: "256Mi"
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        - name: transmission-data
          persistentVolumeClaim:
            claimName: pvc-nfs-downloads
        - name: transmission-config
          persistentVolumeClaim:
            claimName: pvc-iscsi-transmission-config
        - name: protonvpn-config
          secret:
            secretName: protonvpn-config
        # Replace the empty dir with a volume that points to our config directory
        - name: custom-config-dir
          emptyDir: {}
        # Remove this volume
        # - name: openvpn-etc
        #   emptyDir: {}

---
kind: Service
apiVersion: v1
metadata:
  name: transmission
  labels:
    app: transmission
spec:
  selector:
    app: transmission
  type: ClusterIP
  ports:
    - port: 9091
      protocol: TCP
      targetPort: 9091
  sessionAffinity: None

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: transmission
  labels:
    app: transmission
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/proxy-body-size: "128m"
spec:
  rules:
    - host: transmission.j3laserna.me
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: transmission
                port:
                  number: 9091
  tls:
    - hosts:
        - transmission.j3laserna.me
      secretName: wildcard-j3laserna-me-tls
